<div class="extend-background bg-color-blue">
  <header>
    <div class="logo">
      <figure>
        <picture>
          <source
            srcset="./public/assets/images/yellow-people.avif"
            media="(orientation: portrait)"
          />
          <img
            src="./public/assets/images/yellow-people.avif"
            alt="Kids-N-Motion"
          />
        </picture>
      </figure>
      <h1>
        <a href="/">
          Kids-N-Motion
          <span>Pediatric Therapy</span>
        </a>
      </h1>
    </div>
  </header>
</div>
