<div class="bg-blue bg-extend">
  <header>
    <div class="logo">
      <a href="/">
        <picture>
          <source
            srcset="./public/assets/images/yellow-people.avif"
            media="(orientation: portrait)"
          />
          <img
            src="./public/assets/images/yellow-people.avif"
            alt="Kids-N-Motion"
          />
        </picture>
      </a>

      <h1>
        <a href="/"> Kids-N-Motion </a>
        <span>Pediatric Therapy</span>
      </h1>
    </div>
  </header>
</div>
