<nav class="main-nav">
  <ul>
    <li><a href="/our-unique-approach.html">Our Unique Approach</a></li>
    <li><a href="/our-clinic.html">Our Clinic</a></li>
    <li><a href="/our-team.html">Our Team</a></li>
    <li>
      <a href="/our-therapies.html">Therapies</a>
      <ul>
        <li>
          <a href="/therapy/occupational-therapy.html">Occupational Therapy</a>
        </li>
        <li><a href="/therapy/speech-therapy.html">Speech Therapy</a></li>
        <li><a href="/therapy/play-therapy.html">Play Therapy</a></li>
        <li><a href="/therapy/social-skills.html">Social Skills</a></li>
        <li><a href="/therapy/aba.html">ABA</a></li>
      </ul>
    </li>
    <li><a href="/faq.html">FAQs</a></li>
    <li><a href="/contact-us.html">Contact Us</a></li>
  </ul>
</nav>
