header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: var(--color-primary-blue);

  .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-inline-start: var(--gap-m);
  }

  .logo h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.9rem;
    color: var(--color-primary-white);
  }

  .logo a {
    display: block;
    font-size: 2.9rem;
    color: inherit;
    background-color: inherit;
  }

  .logo span {
    font-size: 1.8rem;
    color: var(--color-primary-yellow);
  }

  .logo img {
    position: relative;
    top: 3px;
    height: 96.14px;
    width: 113.25px;
  }
}
