div.video-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 0 25px;
  /* max-width: 1280px; */

  video {
    width: 100%;
  }
}

section.banner-wrapper {
  margin-block-end: var(--gap-m);
  padding-block: var(--gap-m);
  padding-inline: var(--gap-m);

  @media screen and (min-width: 64rem) {
    padding-block: 0;
    padding-inline: 0;

    div.banner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  div.banner {
    @media screen and (min-width: 64rem) {
      display: flex;
      justify-content: space-between;
      padding-block: 20px;
      max-height: 500px;
    }
  }

  div.banner > div.banner-content {
    padding-block: var(--gap-m);
    padding-inline: var(--gap-m);
    background-color: var(--color-primary-white);

    @media screen and (min-width: 64rem) {
      margin-block: 0 0;
    }
  }

  div.banner > div.banner-img img {
    width: 100%;

    @media screen and (min-width: 64rem) {
      position: relative;
      width: 675px;
    }
  }

  div.banner.reverse {
    flex-direction: row-reverse;
  }
}
