div.video-wrapper {
  position: relative;
  width: 100%;
  margin-block-end: 0;
  border-radius: var(--border-radius-m);
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  @media screen and (min-width: 1280px) {
    margin-block-end: 100px;
  }

  video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-m);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

section.banner-wrapper {
  margin-block-start: 50px;
  padding-block: var(--gap-m);
  padding-inline: var(--gap-m);

  @media screen and (min-width: 64rem) {
    padding-block: 0;
    padding-inline: 0;

    .banner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .banner > .banner-content {
    padding-block: var(--gap-m);
    padding-inline: var(--gap-m);
    background-color: var(--color-primary-white);

    @media screen and (min-width: 64rem) {
      margin-block: 0 0;
      margin-inline: var(--gap-m);
    }
  }

  .banner > .banner-img img {
    width: 100%;

    @media screen and (min-width: 64rem) {
      width: 675px;
    }
  }

  .banner.reverse {
    flex-direction: row-reverse;
  }
}
