:root {
  --font-base-size: 5vw;
  --font-base-min: 20px;
  --font-base-max: 20px;
  --scale-factor: 1.5;
  --line-height: 1.5;
  --font-base-family: "Roboto", sans-serif;
}

body {
  --scale-factor-calculated: var(--scale-factor);
  font-family: var(--font-base-family);
  font-size: var(--font-base-size);
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --scale-factor-calculated: -1;
  font-size: calc(var(--font-base-size) * var(--scale-factor-calculated));
  line-height: 1.2;
  margin-block-start: 0;
  margin-block-end: 0;
}
h1 {
  --scale-factor-calculated: calc(pow(var(--scale-factor), 3));
  font-size: clamp(
    45px,
    calc(var(--font-base-size) * var(--scale-factor-calculated)),
    55px
  );
}
h2 {
  --scale-factor-calculated: calc(pow(var(--scale-factor), 2));
  font-size: clamp(
    35px,
    calc(var(--font-base-size) * var(--scale-factor-calculated)),
    45px
  );
}
h3 {
  --scale-factor-calculated: calc(pow(var(--scale-factor), 1));
}
h4,
h5,
h6 {
  --scale-factor-calculated: 1;
}

p,
ul {
  font-size: clamp(16px, var(--font-base-size), 20px);
}

li {
  margin: 10px auto;
}

p {
  max-width: 75ch;
}

a {
  color: var(--brand);
  text-decoration: none;
}
