.show {
  border: 1px solid red;
}

.hide {
  display: none;
}

.extend-background {
  @media screen and (min-width: 1280px) {
    width: auto;
    margin-left: -100vw;
    margin-right: -100vw;
    padding-left: 100vw;
    padding-right: 100vw;
  }
}

.bg-color-orange {
  background-color: var(--color-accent-orange);
}

.bg-color-purple {
  background-color: var(--color-accent-purple);
}

.bg-color-green {
  background-color: var(--color-primary-green);
}

.bg-color-blue {
  background-color: var(--color-primary-blue);
}

.color-orange {
  color: var(--color-accent-orange);
}

.color-purple {
  color: var(--color-accent-purple);
}

.color-green {
  color: var(--color-primary-green);
}

.color-blue {
  color: var(--color-primary-blue);
}
