.show {
  border: 1px solid red;
}

.hide {
  display: none !important;
}

.bg-extend {
  --box-shadow: 0 0 0 100vmax;
  @media screen and (min-width: 80rem) {
    clip-path: inset(0 -100vmax);
  }
}

.bg-placeholder {
  background-color: #eee;
  @media screen and (min-width: 80rem) {
    box-shadow: var(--box-shadow) var(--color-primary-blue);
  }
}

.bg-yellow {
  background-color: var(--color-primary-yellow);
  @media screen and (min-width: 80rem) {
    box-shadow: var(--box-shadow) var(--color-primary-yellow);
  }
}

.bg-orange {
  background-color: var(--color-primary-orange);
  @media screen and (min-width: 80rem) {
    box-shadow: var(--box-shadow) var(--color-primary-orange);
  }
}

.bg-purple {
  background-color: var(--color-accent-purple);
  @media screen and (min-width: 80rem) {
    box-shadow: var(--box-shadow) var(--color-accent-purple);
  }
}

.bg-green {
  background-color: var(--color-primary-green);
  @media screen and (min-width: 80rem) {
    box-shadow: var(--box-shadow) var(--color-primary-green);
  }
}

.bg-blue {
  background-color: var(--color-primary-blue);
  @media screen and (min-width: 80rem) {
    box-shadow: var(--box-shadow) var(--color-primary-blue);
  }
}

.color-yellow {
  color: var(--color-primary-yellow);
}

.color-orange {
  color: var(--color-primary-orange);
}

.color-purple {
  color: var(--color-accent-purple);
}

.color-green {
  color: var(--color-primary-green);
}

.color-blue {
  color: var(--color-primary-blue);
}
